
.poll-card-home-container{
  width:450px;
  display:flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  border:1px solid #c4c4c4;
  border-radius: 5px;
  box-shadow: #c4c4c4 2px 2px;
  overflow: hidden;
  margin-bottom:10px;

}

.poll-card-home-header{
  display:flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  width:100%;
  background-color:#c4c4c4;

}

.poll-card-home-header_title{
  padding-left:10px;
  font-size:15px;
  color:black;
  font-family: 'Roboto', sans-serif;
}

.poll-card-home-body{
  width:500px;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  padding:10px;
}

.poll-card-home-body_img-container{
  width:100px;
  display:flex;
  justify-content: center;
  align-items: center;
  border-right:1px solid #c4c4c4;
}

.poll-card-home-body_img{
  width:90px;
  padding-right:10px;
}

.poll-card-home-body_content-container {
  width:65%;
  display:flex;
  flex-direction:column;
  justify-content: space-between;
  align-items: flex-start;
  padding-left:20px;
  height:90px;
}


.poll-card-home-body_content-container_title{
  color:black;
  font-family: 'Roboto', sans-serif;
  font-size:15px;
  margin:0;
}


.poll-card-home-body_content-container_subtitle{
  font-family: 'Yanone Kaffeesatz', sans-serif;
  color:#c4c4c4;
  font-size:20px;
  margin:0;
}

.poll-card-home-body_content-container_button{
  background-color: white;
  border:1px solid $dark-blue;
  border-radius:5px;
  width:90%;
  padding:5px;
  outline:none;
  box-shadow: #c4c4c4 2px 2px;

}

.poll-card-home-body_content-container_button:hover{
  background-color: $primary-blue;
  outline:none;

}

.poll-card-home-body_content-container_button:active{
  background-color: $pink;
  color:white;
  outline:none;
  border-color:$pink;
  box-shadow: #c4c4c4 0 0;

}
