//Colors

$primary-blue:#66c9ee;
$dark-blue:#3584A1;
$pink: #ED7E97;



//font sizes
$font-size-extra-large:3rem;
$font-size-large:2.25rem;
$font-size-medium:1.5rem;
$font-size-small:0.875rem;
$font-size-extra-small:0.625rem;


//Spacing
$selection-card-container-margin-bottom: 0.5625rem; //9px
$selection-card-container-padding: 0.5625rem; //9px
$selection-card-container-margin-right:1.313rem; //21px

$main-card-margin-left: 4.188rem;//67px
$pagination-margin-top:0.3125rem; //5px


$s-size:1.313rem; //21px
$m-size:3.2rem;
$xl-size:4rem; //64px

$selection-card-width-inner:6.875rem; //110px
$selections-card-height-inner:14.5rem; //232px

$selection-card-width-outer:7.438rem; //119px
$selections-card-height-outer:15.06rem; //241px
$selection-card-cover-height:10.31rem;

$main-card-width-inner:16.44rem; //263px
$main-card-height-inner:34.57rem; //556px

$main-card-width-outer:17.5rem; //280.5px
$main-card-height-outer:35.81rem; //573.5px
$main-card-cover-height:24.69rem; //395.2px

$content-container-padding-left: 14.06rem;//225px
$margin-right-big: 12.56rem; //201px
$margin-right-small:14.44rem; //231px

$selection-panel-section-width:50.19rem;//803px
$content-section-width:67.69rem; //1083.5px
$content-section-height:37.81rem;//605.5

//Media
$desktop-breakpoint:45rem;

