//Colors

$primary-blue:#66c9ee;
$dark-blue:#3584A1;
$pink: #ED7E97;


//fonts

//font sizes
$font-size-title:20px;

//font weights



//Spacing

$s-size:5px;
$m-size:10px;
$l-size:20px;
$xl-size:50px;

//cards
$card-width:500px;
$card-header-height:50px;







//Media
$desktop-breakpoint:45rem;

